@font-face {
  font-family: thin;
  src: url('mplus-1c-thin.woff');
}
@font-face {
  font-family: light; 
  src: url('mplus-1c-light.woff');
}


body {
  margin: 0;                            /*bodyに対するマージン設定 下のpaddingとセット*/
  padding: 0;
  text-align: center;                   /*body要素内のテキストを中央揃え*/
  font-family: thin;                    /*フォントをthinに設定*/
  font-size: 2.5vmax;                   /*フォントサイズをビューポート縦横に対し大きい方の2.5%のサイズで指定*/
  word-spacing: 0.25em;                 /*文字間隔を0.25文字分に設定*/
}

h1, h2 {
  margin: 0;                            /*h1,h2に対するマージン設定*/
  font-weight: normal;                  /*フォントの太さをノーマルに設定*/
}

h1 {
  font-size: 10vmax;                    /*フォントサイズをビューポート縦横に対し大きい方の10%のサイズで指定*/
}

h2 {
  font-size: 6vmax:                     /*フォントサイズをビューポート縦横に対し大きい方の6%のサイズで指定*/
}

body > header {
  width: 100%;                          /*headerの幅を親要素(body)に対し100%で設定*/
  min-height: 100vh;                    /*headerの最低限の高さをビューポートの高さに対し100%で設定*/
  overflow: hidden;                     /*領域からはみ出た内容を表示しない*/
}
body > header {
  display: flex;                        /*header要素内の要素を並列化*/
  justify-content: center;              /*フレックスコンテナを中央揃え*/
  align-items: center;                  /*フレックスコンテナを高さ中心で揃える*/
  background-image: url(back.jpg);      /*背景画像を設定*/
  background-repeat: no-repeat;         /*背景画像をリピートしない*/
  background-size: cover;               /*縦横比を固定して空白が出ないように拡大*/
  color: #FFFFFF;                       /*カラーを白*/
  text-shadow: 0 0 0.125em #000000;
}
body > header p {
  margin: 0 0.5em 3em;                  /*header内のp要素のマージンを[上:0 左右:0.5文字分 下:3文字分]空ける*/
}
body > header ul {
  display: flex;                        /*ul要素を並列化*/
  padding: 0;                           /*パディングを0に設定*/
  justify-content: center;              /*フレックスコンテナを中央揃え*/
  align-items: center;                  /*フレックスコンテナを高さ中心で揃える*/
}
body > header li {
  display: block;                       /*ブロックとして表示する*/
  margin: 1em;                          /*1文字分をマージンする*/
}
body > header a {
  display: block;                       /*ブロックとして表示する*/
  border: 1px #FFFFFF solid;            /*ボーターを白1本線の1ピクセル分で表示*/
  width: 2em;                           /*幅を2文字分で設定*/
  text-decoration: none;                /*テキストの修飾をしない*/
  color: inherit;                       /*親要素からカラーを継承する*/
  padding: 0.25em 1.5em;                /*パディングを[上下:0 左右:1.5文字分]に設定*/
  transition: 0.3s;                     /*色の遷移に0.3秒かける*/
}
body > header a:hover {
  transition: 0.5s;                     /*色の遷移に0.5秒かける*/
  background-color: #FFFFFF;            /*背景色を白に設定*/
  color: #000000;                       /*カラーを黒にする*/
  text-shadow: None;                    /*ホバーした時のテキストシャドーを無しにする*/
}
#profile > img {
  margin-top: 3em;                      /*上側マージンを3文字分*/
  border-radius: 50%;                   /*イメージの角を丸め込む*/
  width: 6em;                           /*幅を6文字分に設定*/
}
#profile > p {
  font-family :thin;                   /*フォントをlightに設定*/
  width: 80%;                          /*幅をビューポートの80%に設定*/
  margin: 0 auto;                      /*マージンを[上下:0 左右:自動]に設定*/
  text-align: center;
}

#profile ul {
  padding: 0;                           /*パディングを0に設定*/
}
#profile li {
  display: inline-block;                /*インラインボックスとして表示*/
}
#profile li > a > img {
  margin: 1em;                          /*マージンを1文字分に設定*/
  width: 1.5em;                         /*幅を1.5文字分に設定*/
}

footer {
  display: flex;                        /*並列表示させる*/
  margin: 0 auto;                       /*マージンを[上下:0 左右:自動]で設定*/
  width: 80%;                           /*幅をビューポートの80%に設定*/
  font-family: light;                   /*フォントをlgihtに設定*/
  font-size: 0.8em;                     /*フォントサイズを親要素の80%にする*/
}
footer p:last-of-type {
  margin-left: auto;                    /*左側のマージンを自動に設定*/
}
